@import url("../css/bootstrap.min.css");
@import url("../css/animate.css");
@import url("../fonts/feather/feather.css");
@import url("../css/font-awesome.min.css");
@import url("../fonts/fontawesome-free-5.14.0-web/css/all.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// normalize

$bebas: 'Bebas Neue', cursive;


body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif !important;
	background-color: rgba(0, 184, 222, 0.06);
	color: #00004D;
}

p {
	color: #1c283a;
	font-size: 18px;
	line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #00004D;
}

h1 {
	font-size: 48px;
	line-height: 58px;
	font-weight: 700;
}

h2 {
	font-size: 36px;
	line-height: 48px;
	font-weight: 700;
}

h3 {
	font-size: 30px;
	line-height: 37px;
	font-weight: 700;
}

h4 {
	font-size: 27px;
	line-height: 29px;
	font-weight: 700;
}

h5 {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}

h6 {
	font-size: 16px;
	line-height: 19px;
	font-weight: 700;
}

a {
	text-decoration: none;
	-webkit-transition: all 0.4s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	color: #000;
}

img {
	width: 100%;
}

a:hover {
	text-decoration: none;
}

a:focus {
	outline: none;
	text-decoration: none;
}

p {
	line-height: 32px;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

fieldset {
	border: 0 none;
	margin: 0 auto;
	padding: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type="number"] {
-moz-appearance: textfield;
}

// Normalize

.btn-link {
	color: #0d373d;
	&:hover {
		color: #1eb7b3 !important;
	}
}

// conatiner

@media (max-width: 1200px) {
	.container {
		max-width: 100%;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
		width: 100%;
	}
}

.fas.fa-times {
	-webkit-text-stroke: 1px #fff;
}
// btns

.btn.btn-primary {
  height: 50px;
  background-color: rgb(0, 184, 222);
  border-color: #00B8DE;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
  transition: all 0.8s;
  border-radius: 3px;
  
  &:hover {
    background-color: rgb(0, 184, 222);
    border-color: #00B8DE;
    color: #fff;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 3px 15px 0 rgba(0, 184, 222, 0.4);
    box-shadow: 0 3px 15px 0 rgba(0, 184, 222, 0.4);
  }

  &:focus {
    background-color: rgb(0, 184, 222);
    border-color: #00B8DE;
    color: #fff;
    box-shadow: 0 3px 15px 0 rgba(0, 184, 222, 0.4);
  }
}

.btn.btn-white {
  height: 50px;
  background-color: transparent;
  border-color: rgba(3, 27, 61,0.50);
  color: rgba(3, 27, 61, 1);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
  transition: all 0.8s;
  border-radius: 3px;
  
  &:hover {
    background-color: transparent;
    border-color: rgba(3, 27, 61,0.50);
    color: rgba(3, 27, 61, 1);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 3px 15px 0 rgba(3, 27, 61, 0.4);
    box-shadow: 0 3px 15px 0 rgba(3, 27, 61, 0.4);
  }

  &:focus {
    background-color: transparent;
    border-color: rgba(3, 27, 61,0.50);
    color: rgba(3, 27, 61, 1);
    -webkit-box-shadow: 0 3px 15px 0 rgba(3, 27, 61, 0.4);
    box-shadow: 0 3px 15px 0 rgba(3, 27, 61, 0.4);
  }
}

.btn.btn-small {
	height: 42px;
	padding: 6px 100px;
}



.btn-pad-60 {
	padding: 8px 60px;
}

.btn-pad-100 {
	padding: 10px 100px;
}

.btn-uppercase {
	text-transform: uppercase;
}

.btn-100 {
	width: 100%;
}

.form-group {
	margin-bottom: 20px;

	.has-float-label {
		width: 100%;
		margin-bottom: 0;
	}

	label {
		font-size: 18px;
		color: #00004D;
		letter-spacing: 0;
		font-weight: 400;
		margin-bottom: 10px;
	}

	.form-control {
		border: 1px solid #cccccc;
		height: 50px;
		background-color: #fff;
		border-radius: 3px;
		font-size: 16px;
		line-height: 16px;
		outline: 0;
		color: #00004D;
		padding: 18px 15px 6px 15px;
		font-weight: 400;
		transition: all 0.2s;
    	box-shadow: none !important;
    
		&::placeholder {
			color: #00004D;
		}

		&:focus {
			transition: all 0.2s;
			color: #00004D;
			// box-shadow: 0 0 0 0.2rem rgba(30, 183, 179, 0.30);
			border: 1px solid #00004D;
		}

		&:hover {
			transition: all 0.2s;
			color: #00004D;
			// box-shadow: 0 0 0 0.2rem rgba(30, 183, 179, 0.30);
			border: 1px solid #00004D;
		}
	}

	span.text {
		display: block;
		width: 100%;
		margin: 5px 15px;
		color: #cccccc;
	}
}

.dropdown-menu {
	ul {
		li {
			.dropdown-item {
				background-color: #fafafa;
				color: #09343b;

				&:hover {
					background-color: #1eb7b3;
					color: #fff;
				}
			}
		}
	}
}

// select2

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #1eb7b3 !important;
	color: #fff;
}

.select2 {
	width: 100% !important;
}

.select2-container {
	border: 0;
}

.select2-container--default .select2-selection--single {
	outline: 0;
	height: 50px !important;
	border: 1px solid #ebebeb !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	border: 1px solid #09343b;
	height: 50px;
	background-color: #fff;
	border-radius: 4px;
	font-size: 16px;
	line-height: 50px !important;
	font-weight: 400;
	padding-left: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 50px !important;
	width: 30px !important;
}
//

.input-group {
	.input-group-addon {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 99;
		height: 50px;
		width: 60px;
		display: flex;
		align-items: center;
		justify-content: center;

		a {
			text-decoration: none;
			color: #727272;
		}

		i {
			font-size: 19px;
			top: 2px;
			position: relative;
		}

		border-radius: 0 10px 10px 0 !important;
	}

	.form-control {
		padding-right: 60px;
		border-radius: 3px;
		padding: 18px 15px 6px 15px;
    overflow: hidden;
    
	}
}

.input-group-2 {
	position: relative;

	.input-group-addon {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 99;
		height: 50px;
		width: 60px;
		display: flex;
		align-items: center;
		justify-content: center;

		a {
			text-decoration: none;
			color: #727272;
		}

		i {
			font-size: 20px;
    }
		border-radius: 0 10px 10px 0 !important;
	}

	.form-control {
		padding-left: 60px;
		border-radius: 10px !important;
		overflow: hidden;
	}
}

// svg icon

.svg-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: cover;
	background-color: #727272;
  transition: all 0.2s;

}


.icon-mail {
	-webkit-mask: url(../images/icons/mail.svg) no-repeat 50% 50%;
	mask: url(../images/icons/mail.svg) no-repeat 50% 50%;
	width: 19px;
	height: 19px;
}

.icon-key {
	-webkit-mask: url(../images/icons/key.svg) no-repeat 50% 50%;
	mask: url(../images/icons/key.svg) no-repeat 50% 50%;
	width: 20px;
	height: 20px;
}

.icon-phone {
	-webkit-mask: url(../images/icons/mobile.svg) no-repeat 50% 50%;
	mask: url(../images/icons/mobile.svg) no-repeat 50% 50%;
	width: 24px;
	height: 24px;
}

.icon-calendar {
	-webkit-mask: url(../images/icons/calendar.svg) no-repeat 50% 50%;
	mask: url(../images/icons/calendar.svg) no-repeat 50% 50%;
	width: 24px;
	height: 24px;
}

.icon-calendar-2 {
	-webkit-mask: url(../images/icons/calendar-2.svg) no-repeat 50% 50%;
	mask: url(../images/icons/calendar-2.svg) no-repeat 50% 50%;
	width: 26px;
	height: 26px;
}

.focus-hover {
	.svg-icon {
		background-color :#00004D;
		transition: all 0.3s;
	}

	i {
		color: #00004D;
		transition: all 0.3s;
	}
	.fas, .fab {
		color: #00004D;
		transition: all 0.3s;
	}
}

// flat picker {
.flatpickr-day.today {
	border-color: #f58031 !important;
}

.flatpickr-day.selected {
	background-color: #f58031 !important;
	border-color: #f58031 !important;
}

@mixin heading {
	h4 {
		font-size: 22px;
		line-height: 27px;
		color: #0d373d;
		font-weight: 700;
		margin-bottom: 10px;
	}
}
/*###########################################################################
############################## header section ###############################*/

.fixed-top {
	background-color: #fff;
	box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
	position: fixed !important;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	height: 80px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
	.row-100 {
		width: 100%;
		margin: 0;

		.col-12 {
			padding: 0;
		}
	}

	.nav-group {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.dropdown-user {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		a {
			font-size: 14px;
			line-height: 18px;
			color: #343333;
			font-weight: 600;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;

			.avtar {
				height: 40px;
				width: 40px;
				min-width: 40px;
				overflow: hidden;
				border-radius: 100%;
				margin-right: 8px;
				display: flex;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.dropdown-menu {
			background: #fff;
			margin-top: 30px;
			box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.09);
			border-radius: 6px 6px;
			right: -20px;
			top: 20px;
			left: auto !important;
			min-width: 180px;
			border: 0 solid #f1f1f1;

			&::before {
				content: "";
				border-top: 10px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 10px solid #fff;
				border-left: 7px solid transparent;
				display: inline-block;
				position: absolute;
				top: -20px;
				right: 17px;
			}

			ul {
				li {
					a {
						.fe {
							font-size: 20px;
							font-weight: 500;
						}
					}
				}
			}
		}
	}

	.navbar {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		display: flex;
		height: 80px;
		background-color: #fff;
		box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
		z-index: 999;
		border-bottom: 1px solid rgba(236, 236, 236, 0.6);
		padding: 0;

		.col-header {
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 100%;

			.col-30 {
				flex: 0 0 150px;
				max-width: 150px;
			}

			.col-70 {
				flex: 0 0 calc(100% - 150px);
				max-width: calc(100% - 150px);
			}
		}

		.navbar-brand {
			width: 120px;
			height: auto;

			img {
				width: 100%;
			}
		}

		.navbar-toggler {
			padding: 0;
			outline: 0 !important;
			border: 0;

			.navbar-toggler-icon {
				background-image: url("../../assets/images/menubar.png");
				background-repeat: no-repeat;
				background-size: contain;
				height: 22px;
				width: 34px;
				border: 0;
			}
		}

		.navbar-toggler {
			position: absolute;
			right: 15px;
			top: 8px;
			border: 0;
		}

		.collapse1 {
			height: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.navbar-nav {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-end;

				.nav-item {
					.nav-link {
						color: #343333;
						font-size: 14px;
						line-height: 18px;
						padding: 5px 20px;
						font-weight: 600;
						transition: all 0.4s ease-in-out;
						background-color: transparent;
						border-radius: 5px;

						&:hover {
							transition: all 0.4s ease-in-out;
							color: #1eb7b3;
						}
					}

					.nav-link.active {
						transition: all 0.4s ease-in-out;
						color: #1eb7b3;
					}
				}

				.nav-item.btn-nav {
					.btn {
						transform: none;
						box-shadow: none;
						height: 42px;
						font-size: 20px;
						line-height: 27px;
						padding: 6px 45px;
						color: #09343B;
						border-color: rgba(9,52,59,0.22);
						font-weight: 700;
						background-color: transparent;
            transition: all 0.3s ease-in-out;	
            
						&:hover {
							background-color: #09343B;
							color: #fff;
							transition: all 0.3s ease-in-out
						}
					}
				}
			}
		}

		.nav-btn {
			width: auto;
		}
	}
}

.header-2 .navbar .navbar-toggler {
    top: -10px;
}

.sidenav-new-menu .closebtn {
	display: none;
}

.custom-checkbox {
	.custom-control-label {
		font-size: 12px;
		line-height: 27px;
		padding-left: 8px;
		font-weight: 600;
		margin-bottom: 0;
		letter-spacing: 0.4px;
		color: #222222;

		&::before {
			height: 19px;
			width: 19px;
			border-radius: 4px;
			border: 1px solid rgba(0, 0, 0, 0.25);
    }
    
		&::after {
			top: 2px;
			left: -26px;
			display: block;
			width: 22px;
			height: 22px;
		}
	}
	.custom-control-input:checked ~ .custom-control-label::before {
		background-color: #1eb7b3 !important;
		border-color: rgb(30, 184, 179) !important;
	}

	.custom-control-input:focus ~ .custom-control-label::before {
		box-shadow: 0 3px 15px 0 rgba(30, 184, 179, 0.4);
	}

	.custom-control-input:checked ~ .custom-control-label::after {
	}
}

/*############################## Home section ###############################*/
// helper class

.closebtn img {
	width: 22px;
	height: 21px;
}


.left-sidenav {
	transition: all 0.5s ease-in-out;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #00B8DE;
	width: 221px;
	height: 100%;
	min-height: 100vh;
	z-index: 9999;
	display: block;

	.closebtn {
		position: absolute;
		right: 15px;
		top: 15px;
		z-index: 99;
		display: none;
	}
  
	.left-sidenav-inner {
	  height: 100%;
	  overflow: hidden;

	  .nav-div {
		min-height: calc(100vh - 100px);
		height: 100%;
		overflow-y: auto;
		padding-bottom: 100px;
		max-height: 1024px;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
  
		&::-webkit-scrollbar {
		  width: 5px;
		}
  
		/* Track */
		&::-webkit-scrollbar-track {
		  background: #1c283a;
		}
  
		/* Handle */
		&::-webkit-scrollbar-thumb {
		  background: #888;
		}
  
		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
		  background: #555;
		}
	  }
	}
  
	.side-nav-logo {
	  height: 115px;
	  background-color: #00B8DE;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  position: relative;
  
	  a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
  
		img {
		  height: auto;
		  width: 145px;
		  object-fit: contain;
		}
	  }
	}
  
	.nav-div {
	  // margin: 30px 0 0 0;
	  padding: 0px 0 0 0;
	  position: relative;
	  width: 100%;
  
	  .sidenav {
		width: 100%;
  
		ul {
		  li {
			display: block;
			margin-bottom: 10px;

			.sub-nav {
				display: flex;
				width: 100%;
				margin-top: 5px;
				
				li {
					width: 100%;
					margin-bottom: 1px;
				}
			}
  
			a {
			  display: flex;
			  align-items: center;
			  justify-content: flex-start;
			  height: 40px;
			  background-color: transparent;
			  position: relative;
			  white-space: nowrap;
				color: #fff;
				font-size: 14px;
				line-height: 26px;

			  .icon-nav {
				display: flex;
				align-items: center;
				justify-content: center;
				min-width: 22px;
				max-width: 22px;

				img {
					width: 100%;
					height: auto;
					object-fit: contain;
				}

				i {
					color: #000000;
				}
			  }

			 
  
			  &::after {
				content: "";
				height: 10px;
				width: 10px;
				position: absolute;
				border-radius: 100%;
				right: 20px;
				display: none;
				background-color: #fff;
			  }
  
			  &:hover {
				background-color: rgba(0, 0, 77,0.22);
  
				&::after {
				  display: block;
				}
			  }
  
			  &.active {
				background-color: rgba(0, 0, 77,0.22);
  
				&::after {
				  display: block;
				}
			  }
			}
		  }
		}
	  }
	}
  }
  
  .sidemenu-open-main {
	padding-left: 220px !important;
	display: block;
	position: relative;
  }
  
  .sidemenu-open-header {
	padding-left: 220px !important;
  }
  
  

//   admin

.admin-page {
	.header {
		.navbar {
			background-color: transparent !important;
			box-shadow: none;
			border: transparent;
			position: absolute !important;
		}
	}
}

.admin-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
  
	.logo-admin-header {
	  height: 39px;
	  width: 39px;
	  display: none;
	  margin: 0 0 0 40px;
  
	  a {
		display: flex;
		align-items: center;
		justify-content: center;
  
		img {
		  width: 100%;
		}
	  }
	}
  
	.company-name {
		margin-left: 20px;
	  h3 {
		font-size: 24px;
		line-height: 35px;
		font-weight: 500;
		color: #00004D;
		margin-bottom: 0;
	  }
	}
  
	.collapse1 {
	  .navbar-nav {
		justify-content: flex-end !important;
	  }
	}
  
	.admin-profile {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  flex-direction: row;
  

  
	  // prfile
	  .user-profile {
		padding: 0 25px;
  
		.profile-option {
		  img {
			border-radius: 100%;
			overflow: hidden;
			height: 42px;
			width: 42px;
		  }
  
		  &::after {
			color: #888;
			content: "\f107";
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			font-size: 16px;
			border: 0;
			position: relative;
			top: 5px;
		  }
		}
  
		.dropdown-menu {
		  left: auto;
		  right: 0;
		  border: 0;
		  padding: 10px 0;
		  box-shadow: 0 60px 60px 0 rgba(0, 0, 0, 0.14);
		  border-radius: 10px;
  
		  a {
			font-size: 14px;
			line-height: 38px;
			color: #01286A;
			font-weight: 500;
			letter-spacing: 0.3px;
			display: flex;
			align-items: center;
			justify-content: flex-start;

			.img-menu {
				height: 24px;
				width: 24px;
				min-width: 24px;
				padding: 5px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: 20px;
				img {
					object-fit: contain;
				}
			}
  
			&:hover {
			  background-color: #00B8DE;
			  color: #fff;
			}
  
			&:active {
			  background-color: #00B8DE;
			  color: #fff;
			}
		  }
		}
	  }
	}
}

.mb-120 {
	margin-bottom: 160px !important;
}

.footer-note {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	margin: 0 auto;
	padding: 20px;
	padding-left: 220px;

	p {
		font-size: 12px;
		line-height: 18px;
		color: #00004D;
		font-weight: 500;
	}
}
/*###########################################################################
############################## media query started ###############################
######################################################################################*/

@media (max-width: 767px) {


	.header {
		.navbar {
			padding: 8px 0;
			z-index: 999;
			height: 70px;

			.col-header {
				display: flex;
				flex-direction: row;
				align-items: center;
				width: 100%;

				.col-30 {
					flex: 0 0 70%;
					max-width: 70%;
				}

				.col-70 {
					flex: 0 0 30%;
					max-width: 30%;
				}
      }
      
			.row-100 {
				width: 100%;
				margin: 0;

				.col-12 {
					padding: 0 15px;
				}

				.col-header {
					display: flex;
					flex-direction: row;
					align-items: center;
					width: 100%;

					.col-30 {
						flex: 0 0 20%;
						max-width: 20%;
					}

					.col-70 {
						flex: 0 0 80%;
						max-width: 80%;
					}
				}

				.navbar-brand {
					width: 120px;
					height: auto;

					img {
						width: 100%;
					}
				}
			}

			.collapse1 {
				padding: 10px 0;
				display: block !important;

				.navbar-nav {

					.nav-item {
						padding: 0 20px;

						.nav-link {
							font-size: 16px;
							line-height: 26px;
							padding: 8px 12px;
							font-weight: 500;
							white-space: nowrap;
							background-color: transparent;
							color: #1c283a;

							&:hover {
								background-color: transparent;
								color: #1eb7b3;
							}

							&.active {
								background-color: transparent;
								color: #1eb7b3;
							}
						}
          }
          
          .nav-item.btn-nav {
            .btn {
              transform: none;
              box-shadow: none;
              height: 38px;
              font-size: 16px;
              line-height: 24px;
              padding: 6px 35px;
            }

          }
				}
			}

			.nav-btn {
				margin: 10px 0 0 0;
				text-align: center;
			}
		}
	}

	#cd-shadow-layer {
		position: fixed;
		min-height: 100vh;
		width: 100%;
		top: 0;
		left: 0;
		background-color: rgba(28, 40, 58, 0.5);
		cursor: pointer;
		z-index: 2;
		display: none;
		z-index: 99999;
	}

	.sidenav-new-menu {
		height: 100%;
		min-height: 100vh;
		width: 0;
		position: fixed;
		z-index: 1;
		right: 0;
		top: 0;
		overflow-y: auto;
		overflow-x: hidden;
		transition: 0.5s;
		z-index: 999999;
		background-color: #fff;
		padding: 50px 0 20px 0 !important;
		flex-basis: auto;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.width-menu {
		width: 70%;
		display: block !important;
	}

	.closebtn {
		display: block !important;
		color: #1c283a;
		text-decoration: none;
	}

	.closebtn:hover {
		display: block;
		color: #1c283a;
		text-decoration: none;
	}

	.sidenav-new-menu .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
		display: block;
	}

	.header .dropdown-user {
		margin-right: 60px;
	}
}

@media (min-width: 768px) and (max-width: 996px) {
}

/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	.navbar-expand-md .navbar-toggler {
		display: block;
	}

	.header .dropdown-user {
		margin-right: 80px;
	}

	.header {
		.navbar {
			z-index: 999;

			.collapse1 {
				display: block !important;

				.navbar-nav {
					display: inline-block;
					margin-left: 0 !important;

					.nav-item {
						padding: 0 20px;

						.nav-link {
							font-size: 16px;
							line-height: 26px;
							padding: 8px 12px;
							font-weight: 500;
							text-align: center;
							white-space: nowrap;
							background-color: transparent;
							color: #1c283a;

							&:hover {
								background-color: transparent;
								color: #1eb7b3;
							}

							&.active {
								background-color: transparent;
								color: #1eb7b3;
							}
						}
					}
					padding-bottom: 30px;
				}
			}

			.nav-btn {
				text-align: center;
				white-space: nowrap;
			}
		}
	}

	#cd-shadow-layer {
		position: fixed;
		min-height: 100vh;
		width: 100%;
		top: 0;
		left: 0;
		background-color: rgba(28, 40, 58, 0.5);
		cursor: pointer;
		z-index: 2;
		display: none;
		z-index: 99999;
	}

	.sidenav-new-menu {
		height: 100%;
		min-height: 100vh;
		width: 0;
		position: fixed;
		z-index: 1;
		right: 0;
		top: 0;
		overflow-y: auto;
		overflow-x: hidden;
		transition: 0.5s;
		z-index: 999999;
		background-color: #fff;
		padding: 50px 0 !important;
		flex-basis: auto;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.width-menu {
		width: 35%;
		display: block !important;
	}

	.closebtn {
		display: block !important;
		color: #1c283a;
		text-decoration: none;
	}

	.closebtn:hover {
		display: block;
		color: #1c283a;
		text-decoration: none;
	}

	.sidenav-new-menu .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		display: block;
	}
	// admin


}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	.header {
		.navbar {
			.collapse1 {
				.navbar-nav {
					.nav-item {
						.nav-link {
							font-size: 12px;
							line-height: 22x;
							padding: 8px 10px;
							font-weight: 500;
						}
					}
				}
			}
		}
	}
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
}
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
	.header .navbar .collapse1 .navbar-nav .nav-item {
		padding: 0 20px;
	}

	#cd-shadow-layer {
		position: fixed;
		min-height: 100vh;
		width: 100%;
		top: 0;
		left: 0;
		background-color: rgba(28, 40, 58, 0.5);
		cursor: pointer;
		z-index: 2;
		display: none;
		z-index: 99999;
	}

	.sidenav-new-menu {
		height: 100%;
		min-height: 100vh;
		width: 0;
		position: fixed;
		z-index: 1;
		right: 0;
		top: 0;
		overflow-y: auto;
		overflow-x: hidden;
		transition: 0.5s;
		z-index: 999999;
		background-color: #fff;
		padding: 40px 0 20px 0 !important;
		flex-basis: auto;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.width-menu {
		width: 30%;
		display: block !important;
	}

	.closebtn {
		display: block !important;
		color: #1c283a;
		text-decoration: none;
	}

	.closebtn:hover {
		display: block;
		color: #1c283a;
		text-decoration: none;
	}

	.sidenav-new-menu .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		display: block;
	}
}

/*######################################################################

middle sectio start here

#################################################################### */

.middle-authentication {
  background-color: #00B8DE;
}



.middle-section {
	margin: 80px 0 0 0;
	// banner

	.authentication-box {
		padding-top: 70px;
		position: relative;
		overflow: hidden;

		&::after {
			content: "";
			background-image: url(../images/patern-right.svg);
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
			display: block;
			position: fixed;
			right: -34%;
			top: -16%;
      height: 100%;
			width: 100%;
			z-index: 1;
		}

		&::before {
			content: "";
			background-image: url(../images/pattern-left.svg);
			background-size: 100% 100%;
			background-position: center;
			display: block;
			position: fixed;
			left: -38%;
			top: 8%;
			height: 100%;
			width: 100%;
			z-index: 1;
		}

		.authentication-box-inner {
      min-height: calc(100vh - 130px);
      position: relative;
      z-index: 10;
		}

		.container {
			width: 100%;
			margin: 0 auto;
		}

		.content-box {
			width: 100%;
			padding: 60px 100px 90px 100px;
			background-color: #fff;
			margin: 0 auto 20px auto;
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.09);
      border-radius: 10px;

			.login-header {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 40px;

				.login-logo {
					width: 145px;
          height: auto;
          object-fit: contain;
				}
			}

			.login-body {

				.title {
					h3 {
						font-size: 25px;
						line-height: 35px;
						font-weight: 500;
            margin-bottom: 30px;
            text-align: center;
            color: #00004D;
					}
        }
        
        .forgot-pass {
          a.forgot-link {
            font-size: 14px;
            line-height: 21px;
            font-weight: 400;
            color: rgba(191, 207, 255, 1);
            text-align: right;
            width: 100%;
            display: block;

            &:hover {
              color: #00B8DE;
            }
          }
        }

        .or-div {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 20px 0;
          width: 100%;

          p {
            margin: 0;
            font-size: 14px;
            line-height: 21px;
            font-weight: 400;
            color: rgba(191, 207, 255, 1);
            text-align: center;
            width: 100%;
            
            span {
              background-color: #fff;
              padding: 0px 8px;
              height: 1px;
              display: inline-block;
              position: relative;
              z-index: 2;
              height: 20px;
              width: 60px;
              margin: 0 auto;
            }

            position: relative;
            &::before {
              content: '';
              background-color: rgba(191, 207, 255, 1);
              width: 100%;
              height: 1px;
              position: absolute;
              left: 0;
              top: 10px;
            }
          }
        }

		
       

			}
		}
	}

	.login-footer {
		padding: 10px 0;
		text-align: center;
		width: 100%;
    z-index: 10;
    position: relative;
		p {
      font-size: 18px;
			line-height: 27px;
			color: #FFFFFF;
			
		}

		a {
			display: inline-block;
			font-size: 18px;
			line-height: 27px;
			color: #FFFFFF;
      font-weight: 400;
      
			&:hover {
				color: #00004D;
			}
		}
	}

	.project-lisitng-section {
		padding-top: 40px;
		margin: 0 40px;
	}

	.card-admin {
		background-color: #fff;
		box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.04);
		border-radius: 8px;

		.card-header {
			background-color: #fff;
			padding: 30px 30px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.title {
				h3 {
					font-size: 18px;
					line-height: 27px;
					font-weight: 600;
				}
			}

			.action-groups {
				display: flex;
				justify-content: center;
				align-items: center;
			
				.search-bar {

					position: relative;
					padding-right: 10px;
					
				
				  
					.form-group {
						margin-bottom: 0;
					  .input-group-addon {
						height: 40px;
						width: 40px;
				  
						a {
						  display: flex;
						  align-items: center;
						  justify-content: center;
						}
				  
						a span.search {
						  display: block;
						}
				  
						a span.close-x {
						  display: none;
						}
					  }
				  
					  .form-control {
						height: 40px !important;
						width: 100%;
						border-color: #fff;
						max-width: 100%;
						opacity: 0;
						padding: 10px 15px;
					  }
				  
					 
					}
				  
					.active.form-group {
					  .form-control {
						opacity: 1;
						transition: all .3s;
						border-color: #ccc;
					  }
				  
					  .input-group-addon {
						height: 40px;
						width: 40px;
				  
						a span.search {
						  display: none;
						}
				  
						a span.close-x {
						  display: block;
						}
					  }
					}
				  }
				  

				ul {
					display: flex;
					align-items: center;
					li {
						display: inline-block;
						margin: 0 5px;

						a {
							
							height: 34px;
							width: 34px;
							display: flex;
							justify-content: center;
							align-items: center;
			
						}
					}
				}

				.roate-90 {
					transform: rotate(90deg);
				}

				.btn {
					height: 42px;
					font-weight: 500;
					line-height: 18px;
					border-radius: 7px;
				}
			}

			.nav-card {
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				flex-direction: row;
				flex-wrap: nowrap;
				width: 100%;
				border: 0;
				
				li {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;

					a  {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;
						color: rgba(0, 0, 77,0.5);
						font-weight: 600;
						line-height: 27px;
						font-size: 18px;

						&.active {
							color: rgba(0, 0, 77, 1);
						}
					}
				}
			}
		}

		.card-body {
			background-color: #fff;
			padding: 0px 30px 30px 30px;	

			.project-list {

				.row-10 {
					margin: 0 -5px;
					.pad-10 {
						padding: 0 5px;
					}
				}

				.card-project {
					padding: 30px;
					border: 1px solid rgba(191, 207, 255,0.5);
					box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.03);
					background-color: #fff;
					border-radius: 8px;
					display: block;
					margin-bottom: 10px;

					.card-icon {
						height: 41px;
						width: 41px;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: #fff;
						padding: 6px;
						border-radius: 2px;
						border: 1px solid rgba(191, 207, 255,0.3);
						box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.08);
						margin-bottom: 10px;

						img {
							object-fit: contain;
						}
					}

					.card-content {

						h3 {
							color: #00B8DE;
							font-family: $bebas;
							font-size: 24px;
							line-height: 26px;
							font-weight: 800;
							text-transform: uppercase;
						}

						h5 {
							font-size: 12px;
							line-height: 18px;
							color: #00004D;
							font-weight: 400;
							margin-bottom: 0;
						}

						p {
							font-size: 12px;
							line-height: 18px;
							color: rgba(0, 0, 77, 0.33);
							font-weight: 400;
							margin-bottom: 0;
						}
					}
				}

				.heading {
					ul {
						box-shadow: none !important;
						border: 0 !important;

						li {
							font-size: 12px;
							line-height: 18px;
							color: rgba(0, 0, 77, 0.33);
							font-weight: 400;
							margin-bottom: 0;
						}
					}
				}

				.card-project-view {
				
					ul {
						padding: 15px 20px;
						border: 1px solid rgba(191, 207, 255,0.5);
						box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.03);
						background-color: #fff;
						border-radius: 8px;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						margin-bottom: 10px;

						li {
							&:nth-child(1) {
								max-width: 60px;
								width: 100%;	
							}
							&:nth-child(2) {
								max-width: 160px;
								width: 100%;	
							}
							&:nth-child(3) {
								max-width: 160px;
								width: 100%;	
							}
							&:nth-child(3) {
								width: 100%;	
							}

							&:nth-child(4) {
								width: 100%;
							}
							&:nth-child(5) {
								width: 100%;	
								text-align: right;
								max-width: 120px;
							}
						}
					}

					.card-icon {
						height: 41px;
						width: 41px;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: #fff;
						padding: 6px;
						border-radius: 2px;
						border: 1px solid rgba(191, 207, 255,0.3);
						box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.08);
						margin-bottom: 0px;

						img {
							object-fit: contain;
						}
					}

					h3 {
						font-size: 12px;
						line-height: 18px;
						color: #00004D;
						font-weight: 600;
						margin-bottom: 0;
					}
		
					h5 {
						font-size: 12px;
						line-height: 18px;
						color: #00004D;
						font-weight: 500;
						margin-bottom: 0;
					}
		
					p {
						font-size: 12px;
						line-height: 18px;
						color: #00004D;
						font-weight:400;
						color: rgba(0, 0, 77, 0.85);
						margin-bottom: 0;
					}
				}


				
			}

			.member-group {
				.member-card {
				
					ul {
						padding: 15px 20px;
						border: 1px solid rgba(191, 207, 255,0.5);
						box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.03);
						background-color: #fff;
						border-radius: 8px;
						margin-bottom: 10px;

						li {
							font-size: 12px;
							line-height: 18px;
							color: #00004D;
							font-weight:400;
							color: rgba(0, 0, 77, 0.85);
							margin-bottom: 0;
						    display: flex;
							align-items: center;
							justify-content: flex-start;
							text-align: left;

							&:first-child {
								text-align: right;
							
							}

							&:last-child {
								text-align: right;
								justify-content: flex-end;
							}
						}

						
					}

					.member-porfile {
							display: flex;
							align-items: center;
							justify-content: flex-start;
							text-align: left;

						.profile {
							height: 41px;
							width: 41px;
							min-width: 41px;
							display: flex;
							align-items: center;
							justify-content: flex-start;
							margin-right: 10px;

							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}

						h3 {
						font-size: 12px;
						line-height: 18px;
						color: #00004D;
						font-weight: 600;
						margin-bottom: 0;

							span.tag {
								padding: 8px 15px;
								display: inline-block;
								background-color: #00B8DE;
								border-radius: 4px;
								margin-left: 8px;
								font-size: 12px;
								line-height: 14px;
								color: #fff;
							}
						}

					}
				

					h3 {
						font-size: 12px;
						line-height: 18px;
						color: #00004D;
						font-weight: 600;
						margin-bottom: 0;
					}

					p {
						font-size: 12px;
						line-height: 18px;
						color: #00004D;
						font-weight:400;
						color: rgba(0, 0, 77, 0.85);
						margin-bottom: 0;
					}
				}
			}

			.edit-profile {
				textarea {
					min-height: 120px;
				}

				.heading {
					h6 {
						font-weight: 500;
					}
				}

				.profile-div {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 40px;
				}

				.profile-pic-upload{
                    .circle{
                        position: relative;
                        width: 100px;
                        img {
                        height: 120px;
                        width: 120px;
                        overflow: hidden;
                        border-radius: 100px;
                        }
                        .filelabel-icon {
                            box-shadow: 0 2px 4px 0 #E8E8E8;
                            position: absolute;
                            right: -10px;
                            bottom: -8px;
                            background-color: #00B8DE;
                            height: 32px;
                            width: 32px;
                            border-radius: 100px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            z-index: 99;
                            i{
                                font-size: 20px;
                            }
                        }
                    }
                    .p-image{
                        display: none;
                    }
                }

			}

			.no-label {
				.form-control {
					padding: 12px 20px;
				}
	
				textarea.form-control {
					padding: 15px 20px;
				}
			}

			label {
				font-size: 16px;
				line-height: 26px;
			}

			.choose-icon {
				background-color: #fff;
				border: 1px solid rgba(3, 27, 61, 0.3);
				color: #031B3D;
				height: 40px;
				width: 40px;
				border-radius: 100px;
				min-width: 40px;
				padding: 6px 8px;
				display: block;
				margin-bottom: 8px;

				&.selected, &.active {
					background-color: rgba(0, 0, 179,0.05);
					border: 1px solid #00B8DE;
				}

				img {	
					width: 100%;
					object-fit: cover;
				}
			}

			.list-icon {
				li {
					display: inline-block;
					margin-right: 8px;
				}
			}

			.setting-group {

				.heading {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 10px 10px;

					h3 {
						font-size: 18px;
						line-height: 27px;
						color: #031B3D;
						font-weight: 600;
					}

					.btn.btn-small {
						padding: 6px 60px;
					}
				}

				.setting-card {
				
					ul {
						padding: 20px 20px;
						border: 1px solid rgba(191, 207, 255,0.5);
						box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.03);
						background-color: #fff;
						border-radius: 8px;
						margin: 0 auto;
						margin-bottom: 10px;

						li {
							font-size: 12px;
							line-height: 18px;
							color: #00004D;
							font-weight:400;
							color: rgba(0, 0, 77, 0.85);
							margin-bottom: 0;
						    display: flex;
							align-items: center;
							justify-content: flex-start;
							text-align: left;

							&:first-child {
								text-align: right;
							
							}

							&:last-child {
								text-align: right;
								justify-content: flex-end;
							}
						}

						
					}

					.member-porfile {
							display: flex;
							align-items: center;
							justify-content: flex-start;
							text-align: left;

						.profile {
							height: 41px;
							width: 41px;
							min-width: 41px;
							display: flex;
							align-items: center;
							justify-content: flex-start;
							margin-right: 10px;

							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}

						h3 {
						font-size: 12px;
						line-height: 18px;
						color: #00004D;
						font-weight: 600;
						margin-bottom: 0;

							span.tag {
								padding: 8px 15px;
								display: inline-block;
								background-color: #00B8DE;
								border-radius: 4px;
								margin-left: 8px;
								font-size: 12px;
								line-height: 14px;
								color: #fff;
							}
						}

					}
				

					h3 {
						font-size: 12px;
						line-height: 18px;
						color: #00004D;
						font-weight: 600;
						margin-bottom: 0;
					}

					p {
						font-size: 12px;
						line-height: 18px;
						color: #00004D;
						font-weight:400;
						color: rgba(0, 0, 77, 0.85);
						margin-bottom: 0;
					}
				}

				.variable-card.heading {
					ul {
						box-shadow: none !important;
						border: 0 !important;
						width: 100%;
						margin-bottom: 0;
						li {
							font-weight:400;
						}
					}
				}

				.variable-card {
				
					ul {
						padding: 20px 20px;
						border: 1px solid rgba(191, 207, 255,0.5);
						box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.03);
						background-color: #fff;
						border-radius: 8px;
						margin: 0 auto;
						margin-bottom: 10px;
						width: 100%;

						li {
							font-size: 12px;
							line-height: 18px;
							color: #00004D;
							font-weight:500;
							color: rgba(0, 0, 77, 0.85);
							margin-bottom: 0;
						    display: flex;
							align-items: center;
							justify-content: flex-start;
							text-align: left;
							white-space: nowrap;

							.material-icons {
								color: #979797;
							}

							.mb-block {
								display: none;
							}

							&:first-child {
								text-align: right;
							
							}

							&:last-child {
								text-align: right;
								justify-content: flex-end;
							}
						}

						.editbtn {
							
							span {
								font-size: 20px;
								color: #00004D;
							}
						}

						
					}

					.member-porfile {
							display: flex;
							align-items: center;
							justify-content: flex-start;
							text-align: left;

						.profile {
							height: 41px;
							width: 41px;
							min-width: 41px;
							display: flex;
							align-items: center;
							justify-content: flex-start;
							margin-right: 10px;

							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}

						h3 {
						font-size: 12px;
						line-height: 18px;
						color: #00004D;
						font-weight: 600;
						margin-bottom: 0;

							span.tag {
								padding: 8px 15px;
								display: inline-block;
								background-color: #00B8DE;
								border-radius: 4px;
								margin-left: 8px;
								font-size: 12px;
								line-height: 14px;
								color: #fff;
							}
						}

					}
				

					h3 {
						font-size: 14px;
						line-height: 18px;
						color: #00004D;
						font-weight: 600;
						margin-bottom: 0;
					}

					p {
						font-size: 12px;
						line-height: 18px;
						color: #00004D;
						font-weight:400;
						color: rgba(0, 0, 77, 0.85);
						margin-bottom: 0;
					}
				}
			}
		}

		.card-footer {
			padding: 30px 30px;
		}
	}

	.welcome-dashbard {
		h3 {
			color: #00004D;
			font-size: 24px;
			line-height: 36px;
			text-align: center;
		}

		ul  {
			margin: 30px 0 40px 0;
			padding: 0;

			li {
				a {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					padding: 20px 50px;
					background-color: rgba(191, 207, 255,0.07);
					border-radius: 11px;
					margin-bottom: 10px;

					&:hover {
						background-color: rgba(191, 207, 255,0.3);
					}

					.icon-menu {
						width: 37px;
						height: 37px;
						min-width: 37px;
						display: flex;
						align-items: center;
						justify-content: center;
						margin-right: 20px;
					}

					p {
						color: #00004D;
						font-size: 18px;
						line-height: 27px;
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.import-data {
		h3 {
			color: #00004D;
			font-size: 24px;
			line-height: 36px;
			text-align: center;
		}


		.import-svg {
			margin: 60px auto 40px auto;
			max-width: 405px;
			img {
				width: 100%;
			}
		}

		.content {
			text-align: center;
			margin-bottom: 20px;
			p {
				font-size: 18px;
				line-height: 28px;
				color: #00004D;
			}

			.btn {
				max-width: 400px;
			}
		}
	}

	.import-box {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		background-color: rgba(191, 207, 255,0.07);
		border: 1px solid rgba(191, 207, 255,0.27);
		width: 100%;
		padding: 40px 60px;

		.icon-import {
			height: 82px;
			width: 92px;
			min-width: 92px;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				width: 100%;
				object-fit: cover;
			}
		}

		.content-import {
			padding-left: 20px;

			h3 {
				font-size: 18px;
				line-height: 26px;
				margin-bottom: 15px;
			}

			.btn {
				height: 42px;
				max-width: 196px;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 18px;
				line-height: 27px;	
				border-radius: 7px;
				border: 1px solid rgba(3, 27, 61,0.3);
			}
		}
	}

}


.modal-custom  {
	.modal-dialog {
		max-width: 580px !important;
	}

	.modal-header {
		padding: 30px 30px;

	
			h5{
				font-size: 18px;
				line-height: 22px;
			}

			.close {
				font-weight: 600;
				box-shadow: none !important;
				outline: none !important;

				.fa {
					font-weight: 600;
				}
			}


			.nav-tabs {
				border: 0;
				li {
					margin-right: 50px;

					&:last-child {
						margin-right: 0;
					}

					a {
						font-size: 18px;
						line-height: 22px;
						color: #00004D;
						font-weight: 600;
						position: relative;
						padding: 0 0px;
						text-align: center;

						&::after {
							content: '';
							width: 100px;
							height: 2px;
							background-color: #00B8DE;
							position: absolute;
							right: 0;
							left: 0;
							margin:  0 auto;
							bottom: -36px;
						}
					}
				}
			}
		
	}

	.modal-body {
		padding: 30px 30px;

		p {
			font-size: 14px;
			line-height: 21px;
			color: #031B3D;
		}

		.no-label {
			.form-control {
				padding: 12px 20px;
			}

			textarea.form-control {
				padding: 15px 20px;
			}
		}

		.form-group {
			margin-bottom: 15px;

			.has-float-label label, .has-float-label > span {
				top: 0;
			}

			.has-float-label input:placeholder-shown:not(:focus) + *, .has-float-label select:placeholder-shown:not(:focus) + *, .has-float-label textarea:placeholder-shown:not(:focus) + * {
				top: 15px;
			}

			label {
				font-size: 16px;
				line-height: 26px;
				font-weight: 600;
				color: #031B3D;
			}

			.choose-icon {
				background-color: #fff;
				border: 1px solid rgba(3, 27, 61, 0.3);
				color: #031B3D;
				height: 40px;
				width: 40px;
				border-radius: 100px;
				min-width: 40px;
				padding: 6px 8px;
				display: block;
				margin-bottom: 8px;

				&.selected, &.active {
					background-color: rgba(0, 0, 179,0.05);
					border: 1px solid #00B8DE;
				}

				img {	
					width: 100%;
					object-fit: cover;
				}
			}

			.list-icon {
				li {
					display: inline-block;
					margin-right: 8px;
				}
			}
		}

	}

	.modal-footer {
		padding: 30px 30px;
		.btn {
			white-space: nowrap;
			font-size: 16px;
		}
	}
}

.modal-footer {
	.btn {
		width: 100%;
		padding: 8px 40px !important;
		width: 100%;
	}
}


// #########################################################################
// ############################# footer section#############################
// #########################################################################

// #########################################################################
// ############################# media query #############################
// #########################################################################

@media (max-width: 767px) {

.admin-header {
	.admin-profile {
		.user-profile {
			padding: 0 50px 0 0;
		}
	}
}

.left-sidenav {
	width: 0;
	.closebtn {
		display: block;
	}
}

.left-sidenav.w-70 {
	width: 100% !important;
}

.sidemenu-open-main {
	padding-left: 0 !important;
}

.sidemenu-open-header {
	padding-left: 0 !important;
}

// admin end



  .middle-section  {

	.project-lisitng-section {
		margin: 0 0;
	}
	
	.card-admin {
		.card-header {
			flex-direction: column;
			padding: 20px;

			.title {
				width: 100%;

			h3 {
				text-align: left;
			}
			}

			.action-groups {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				width: 100%;
				ul {
					margin-bottom: 10px;

					li {
						.search-bar {
							margin-bottom: 0px;
						}
					}
				}

				.search-bar {
					margin-bottom: 10px;
				}
			}

			.add-project {
				width: 100%;
				text-align: right;
			}

			.nav-card {
				li {
					width: auto;
					a {
						font-size: 14px;
						line-height: 20px;
						padding: 0 10px;
					}
				}
			}

			
		}

		.card-body {
			padding: 0 20px 20px 20px;

			.project-list {

				.heading {
					display: none;
				}
				.card-project-view {
				
					ul {
						padding: 15px 10px;
						border: 1px solid rgba(191, 207, 255,0.5);
						box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.03);
						background-color: #fff;
						border-radius: 8px;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: flex-start;
						margin-bottom: 10px;

						li {
							&:nth-child(1) {
								max-width: unset;
								width: 100%;	
							}
							&:nth-child(2) {
								max-width: unset;
								width: 100%;	
							}
							&:nth-child(3) {
								max-width: unset;
								width: 100%;	
							}
							&:nth-child(3) {
								width: 100%;	
							}

							&:nth-child(4) {
								width: 100%;
							}
							&:nth-child(5) {
								width: 100%;	
								text-align: left;
								max-width: unset;
							}
						}
					}

				

				}
			}

			.member-group {
				.member-card {
				
					ul {
						li {margin-bottom: 3px;
							justify-content: flex-start;
							&:last-child {
								justify-content: flex-start;
							}
						}
					}
				}
			}

			.setting-group {
				.setting-card {
				
					ul {
						li {margin-bottom: 3px;
							justify-content: flex-start;
							&:last-child {
								justify-content: flex-start;
							}
						}
					}
				}
				
				.heading {
					h3 {
						font-size: 16px;
						line-height: 24px;
					}
					.btn.btn-small {
						padding: 6px 12px;
						font-size: 14px;
						height: 40px;
					}

					
				}

				.heading-2 {
					flex-direction: column;
					align-items: flex-start;	
				}

				.variable-card.heading {
					display: none;
				
				}
		
				.variable-card {
					ul {
		
						li {
							width: 100%;
							text-align: left;
							flex-grow: unset;
							flex-basis: unset;
							display: flex;
							flex-direction: row;
							justify-content: flex-start;
							align-items: center;
							margin: 0 0 5px 0;
							white-space: normal;

							&:last-child {
								justify-content: flex-start;
								.editbtn {
									margin-left: 50%;
									display: block;
								}

							}
							.mb-block {
								display: block;
								width: 50%;
								text-align: left;
								color: rgba(0, 0, 77, 0.50);
							}	
						}
					}
				}
			}
			
		}

		.card-footer {
			padding: 20px 20px;
			.btn-groups {
				display: flex;
				align-items: center;
				justify-content: center;
				
				.btn {
					padding: 8px 30px;
					width: 100%;
					margin: 0 2px;
				}
			}
		}

		
	}

    .authentication-box  {
      .content-box {
        padding: 40px 25px;
      }
	}

	.mb-120 {
		margin-bottom: 0px !important;
	}
	
	.footer-note {
		position: unset !important;
		padding-left: 20px;
	}
	
  }

  .modal-custom .modal-header .nav-tabs li {
	  margin-left: 0;	
	  a {
		  font-size: 15px;
		  line-height: 24px;
	  }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	.admin-header {
		.admin-profile {
			.user-profile {
				padding: 0 50px 0 0;
			}
		}
	}	
	.left-sidenav {
		width: 0;
		.closebtn {
			display: block;
		}
	}
	
	.left-sidenav.w-70 {
		width: 230px !important;
	}
	
	.sidemenu-open-main {
		padding-left: 0 !important;
	}
	
	.sidemenu-open-header {
		padding-left: 0 !important;
	}
	
	// admin end
	
}


